<?php
$CONFIG = array (
  'logfile' => '/var/www/nextcloud-log/nextcloud.log',
  /*0: DEBUG: All activity; the most detailed logging.
    1: INFO: Activity such as user logins and file activities, plus warnings, errors, and fatal errors.
    2: WARN: Operations succeed, but with warnings of potential problems, plus errors and fatal errors.
    3: ERROR: An operation fails, but other services and operations continue, plus fatal errors.
    4: FATAL: The server stops. */
  'loglevel' => {{ nextcloud_loglevel }},
  'log_rotate_size' => {{ nextcloud_log_rotate_size }},
);
