<?php
$CONFIG = array (
  "overwrite.cli.url" => "{{ nextcloud_protocol }}://{{ nextcloud_fqdn }}",
  "overwriteprotocol" => "{{ nextcloud_protocol }}",
  "allow_user_to_change_display_name" => {{ nextcloud_allow_user_to_change_display_name }}
);
