# {{ ansible_managed }}

{% if stage != "development" -%}
server {
    listen      80;
    listen [::]:80;

    server_name {{ nextcloud_fqdn }} {{ nextcloud_fqdn_aliases | join(' ') }};

    {% block acme_challenge -%}
    include acme-challenge-location.conf;
    {% endblock -%}

    location / {
        return 301 https://{{ nextcloud_fqdn }}$request_uri;
    }
}
{% endif -%}

{% if nextcloud_fqdn_aliases | length > 0 -%}
server {
    {% if stage == "development" -%}
    listen       80;
    listen  [::]:80;
    {% else %}
    listen       443 ssl http2;
    listen  [::]:443 ssl http2;
    {% endif %}

    server_name {{ nextcloud_fqdn_aliases | join(' ') }};

    {% if stage != "development" -%}
    ssl_certificate /etc/nginx/ssl/letsencrypt/{{ nextcloud_fqdn }}-bundled.cert;
    ssl_certificate_key /etc/nginx/ssl/letsencrypt/{{ nextcloud_fqdn }}.key;

    include h5bp/directive-only/ssl.conf;
    include h5bp/directive-only/ssl-stapling.conf;

    ssl_dhparam /etc/nginx/ssl/dhparam{{nginx_ssl_dhparam_key_size}}.pem;

    # HSTS (ngx_http_headers_module is required) (15768000 seconds = 6 months)
    add_header Strict-Transport-Security max-age=15768000;
    {% endif -%}

    location / {
        return 301 http{{ (stage == "development") | ternary('', 's') }}://{{ nextcloud_fqdn }}$request_uri;
    }
}
{% endif -%}

server {
    {% if stage == "development" -%}
    listen       80;
    listen  [::]:80;
    {% else %}
    listen       443 ssl http2;
    listen  [::]:443 ssl http2;
    {% endif %}

    server_name {{ nextcloud_fqdn }};

    {% if stage != "development" -%}
    ssl_certificate /etc/nginx/ssl/letsencrypt/{{ nextcloud_fqdn }}-bundled.cert;
    ssl_certificate_key /etc/nginx/ssl/letsencrypt/{{ nextcloud_fqdn }}.key;

    include h5bp/directive-only/ssl.conf;
    include h5bp/directive-only/ssl-stapling.conf;

    ssl_dhparam /etc/nginx/ssl/dhparam{{nginx_ssl_dhparam_key_size}}.pem;

    # HSTS (ngx_http_headers_module is required) (15768000 seconds = 6 months)
    add_header Strict-Transport-Security max-age=15768000;
    {% endif -%}

    # Specify a charset
    charset utf-8;

    access_log /var/log/nginx/{{ nextcloud_fqdn }}.access.log {{ nginx_log_format }};
    error_log /var/log/nginx/{{ nextcloud_fqdn }}.error.log;

    {% if stage == 'development' -%}
    # https://www.nginx.com/resources/wiki/start/topics/tutorials/config_pitfalls/#virtualbox
    sendfile off;
    {% endif -%}

    # A suitable client_max_body_size has to be set or you will get errors
    client_max_body_size 10G;

    underscores_in_headers on;

    # Prevent clients from accessing backup/config/source files
    location ~* (?:\.(?:bak|conf|dist|fla|in[ci]|sw[op])|~)$ {
      deny all;
    }

    location = /.well-known/carddav {
        return 301 https://$host/remote.php/dav;
    }

    location = /.well-known/caldav {
        return 301 https://$host/remote.php/dav;
    }

    location / {
        proxy_headers_hash_max_size 512;
        proxy_headers_hash_bucket_size 64;
        proxy_http_version 1.1;

        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        proxy_read_timeout 300;

        proxy_pass http://{{ nextcloud_private_ipv4 }}:{{ nextcloud_port }};
    }
}
