<?php
$CONFIG = array (
  // The directory where the skeleton files are located.
  // These files will be copied to the data directory of new users.
  // Leave empty to not copy any skeleton files.
  "skeletondirectory" => "",
);
